@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  @apply text-spotifylightgrey;
  background-color: #111212;

}


.h3-title {
  color: white;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

h1 {
  color: white;

  letter-spacing: 0.03rem;
}