* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  border: 1px solid black;

}

#root {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: coral;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.bottomPlayBar {
  width: 100%;
  color: red;
  flex: 1;
}

.main {
  flex: 7;
}